

// Primaty Dark Themes Color
$Dtext-color: #d6c9b6  ;
$DBg: #211610  ;
$DBgMenu: #2e231d  ;
$DBgButton: #ffd978  ;
$DTButton: #333333  ;
$DIcon: #b7b574  ;
$DBorder: #453128  ;

// Primaty Light Themes Color
$Ltext: #050505  ;
$LBg: #f0f2f5  ;
$LBgMenu: #ffffff  ;
$LBgButton: #f8d10c  ;
$LTButton: #000000  ;
$LIcon: #b7b574  ;
$LBorder: #333333  ;

//Badge 
$BOne: #6C757D  ;
$BTwo: #6A7A96   ;
$BThree : #FD7E14  ;

//Danger and Success
$cl-danger: #FF0000  ;
$cl-success : #7FAA40  ;


$black: hsla(28, 59, 9, 1)  ;
$gray2: hsl(28, 13, 52)  ;
$gray3: hsl(28, 15, 60)  ;
$gray4: hsl(28, 18, 71)  ;
$gray5: hsl(28, 22, 79)  ;

$dark-gray1: hsl(28, 16, 9)  ;
$dark-gray2: hsl(28, 13, 13)  ;
$dark-gray3: hsl(28, 15, 18)  ;
$dark-gray4: hsl(28, 18, 22)  ;
$dark-gray5: hsl(28, 22, 26)  ;

$light-gray1: hsl(0, 0, 84)  ;
$light-gray2: hsl(0, 0, 88)  ;
$light-gray3: hsl(0, 0, 91)  ;
$light-gray4: hsl(0, 0, 94)  ;
$light-gray5: hsl(0, 0, 97)  ;

$break-small: 700px  ;
$break-large: 1012px  ;

@mixin media($device) {
  @if $device == phone {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $device == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $device == pc {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

@import "~@blueprintjs/core/src/common/variables.scss";
