@import "styles/core.scss";

.main {
  color: $Dtext-color !important;
  background-color: $DBg !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $DBorder;
  line-height: 22px;
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: large;
    margin-bottom: 22px ;
    @include media(phone) {
      display: none;
    }

    .logo {
      margin-right: 2%;
      width: 60px;
      border-radius: 50%;
      @include media(phone) {
        display: none;
      }
    }
    p {
      color: $Dtext-color !important;
      text-decoration: none;
      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
        text-decoration: none;
        color: $DBgButton !important;
      }
    }

    .tag>p {
      margin: 4px 0 !important;
    }
  }

  .image {
    width: 100%;
    margin-bottom: 22px ;

    img {
      width: 100%;
    }
  }

  .content {
    width: 100%;
    margin-bottom: 22px ;

  
 
}
.button{
    color:$DBgButton!important;
}
}
