@import "../../styles/core.scss";

.main {
  width: 300px !important;
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;


  .menu {
    color: $Dtext-color !important;
    background-color: $DBg !important;
    width: 100% !important;
  }
  .button {
    color: $DTButton !important;
    background-color: $DBgButton !important;
    font-size: normal;
    font-weight: bolder;
    height: 40px !important;
    width: 70% !important;
    padding: 10px 10px !important;
    align-items: flex-start;
    margin-bottom: 24px;
    margin-right: 20%;
  }
  .homeMenu {
    color: $DBgButton !important;
    font-size: normal;
    font-weight: bold;
  }
  
  .divider > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $DBgButton !important;
    font-size: medium !important;
  }
}

